# Варіант 11

In [1]:
import pandas as pd
import numpy as np
import copy
from IPython.display import display

# Зчитуємо файли prob_11.csv та table_11.csv

In [4]:
prob = pd.read_csv("var_11/prob_11.csv",header=None)

prob.columns=[ i for i in range(0,20)]

prob_temp=(copy.deepcopy(prob))
prob_temp.index=['Probability of text','Probability of key']

display(prob_temp)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Probability of text,0.24,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04
Probability of key,0.14,0.14,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04,0.04

In [5]:
table = pd.read_csv("var_11/table_11.csv",header=None)

table_temp=(copy.deepcopy(table))
table_temp.index=['K_'+str(i) for i in range(0,20)]
table_temp.columns=['M_'+str(i) for i in range(0,20)]

display(table_temp)

,M_0,M_1,M_2,M_3,M_4,M_5,M_6,M_7,M_8,M_9,M_10,M_11,M_12,M_13,M_14,M_15,M_16,M_17,M_18,M_19
K_0,2,17,3,19,12,4,0,8,1,6,15,14,7,9,10,5,18,16,13,11
K_1,18,19,11,16,8,0,5,10,15,7,17,14,1,3,13,12,4,6,2,9
K_2,10,12,15,5,13,11,8,2,0,3,17,14,7,1,6,16,18,19,9,4
K_3,4,15,8,0,12,9,19,18,1,14,17,16,7,2,6,10,5,11,13,3
K_4,15,9,5,1,16,0,8,18,2,17,3,10,4,6,12,14,11,7,19,13
K_5,1,7,5,11,19,8,17,18,14,0,15,12,10,6,9,16,2,4,13,3
K_6,18,10,13,12,19,1,2,5,14,17,11,9,15,0,6,8,7,3,4,16
K_7,3,13,1,14,12,11,2,9,18,10,0,19,5,16,15,4,8,6,7,17
K_8,5,9,0,15,10,12,18,13,19,14,3,4,17,11,16,8,6,7,2,1
K_9,14,8,12,16,17,2,7,18,6,11,15,13,4,19,9,5,1,0,10,3
K_10,16,6,0,14,13,15,5,12,11,18,1,2,3,8,9,19,17,10,4,7
K_11,9,18,4,0,8,13,11,17,5,15,7,10,14,12,3,6,19,16,2,1
K_12,9,6,19,12,3,15,7,16,14,18,4,0,17,1,13,10,5,2,8,11
K_13,12,4,9,19,2,18,14,6,0,5,7,8,17,16,11,1,10,3,13,15
K_14,13,17,19,1,12,8,11,3,16,10,18,15,6,2,0,5,9,4,14,7
K_15,16,3,15,11,18,8,13,1,4,12,19,2,14,5,10,6,7,9,17,0
K_16,17,2,13,12,16,3,8,0,7,6,18,1,14,10,15,11,5,19,9,4
K_17,14,18,12,6,1,8,9,2,17,5,3,7,4,10,13,0,19,11,16,15
K_18,4,11,19,6,3,16,10,9,14,13,1,7,5,15,18,12,8,0,2,17
K_19,9,7,12,8,0,10,3,6,14,19,17,4,18,5,2,1,13,11,16,15

# Обрахунок розподілу P(C)

In [6]:
c_probab = []    #порожній список для ймовірностей шифротексту
j = 0            #індекс шифротексти, ймовірність якого обчислюємо
for c in range(0,20):
    total =           0 #загальна ймовірність
    occurens = np.where(table == c)    #всі входження шифротексту "c"
    c_rows = occurens[0]               #номер ключів для цього ШТ
    c_columns = occurens[1]            #номер ВТ для цього ШТ
    
    for i in range(0,20):
        total += prob[c_rows[i]][1]*prob[c_columns[i]][0]
    
    c_probab.insert(j, round(total, 3))
    j+=1
    
c_probab = np.array(c_probab)    
probability_c = pd.DataFrame(data=c_probab.reshape(1, 20))     
probability_c

probability_c_temp=copy.deepcopy(probability_c)

probability_c_temp.index=['Probability cipher']

display(probability_c_temp)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Probability cipher,0.04,0.048,0.068,0.048,0.056,0.048,0.04,0.04,0.04,0.064,0.048,0.04,0.048,0.048,0.056,0.048,0.056,0.048,0.076,0.04